extends layout

block content
  .container.grid-md
    center
      h1 People first.
      p Citizen Capital is a 501c(3) non-profit that incubates innovative technologies with the potential to promote greater transparency, direct participation, and accessibility in politics and education.
    hr
    center
      h2 Releases
      .columns
        .column.col-4.col-mx-auto
          h5 Read/Write
          p Open-source adult literacy/ESL workbooks.
        .column.col-4.col-mx-auto
          h5 Emma on Atlantic
          p Children’s STEM book, co-written by AI.
