extends layout

block content
  .container.grid-md
    center
      h1 People first.
      .columns
        .column.col-6.col-mx-auto
          p Citizen Capital is a non-profit that incubates innovative technologies with the potential to promote greater transparency, direct participation, and accessibility in politics and education.
    hr
    center
      h2 Releases
      .columns
        .column.col-3.col-mx-auto
          p
            img.img-responsive(src="/images/cover_2.jpeg")
          h5
            a(href="http://readwrite.school") Read/Write
          p Open-source adult literacy/ESL workbooks.
        .column.col-3.col-mx-auto
          p
            img.img-responsive(src="/images/emma-cover.png")
          h5 Emma on Atlantic
          p Children’s STEM book, co-written by AI.
          p
            small
              em Available 5/1/18
