doctype html
html
  head
    title Citizen Capital
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto')
    link(rel='stylesheet', href='/stylesheets/spectre.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .container.grid-md
      center
        .columns
          .column.col-6.col-mx-auto
            img(src='/images/logo.svg')
    block content
    .container.grid-md
      hr
      center
        p
          small
            a(href="/") Home
            span &nbsp;&middot;&nbsp;
            a(href="/terms") Terms
            span &nbsp;&middot;&nbsp;
            a(href="/privacy") Privacy
            span &nbsp;&middot;&nbsp;
            a(href="https://goo.gl/forms/QIl0BYyu7FHQSufu2", target="new") Contact
        p
          em
            small &copy; 2018 Citizen Capital, a 501c(3) Nonprofit