@font-face {
  font-family: "GT-Walsheim-Pro-Bold";
  src: url("/fonts/GT-Walsheim-Pro-Bold.ttf");
}

@font-face {
  font-family: "GT-Walsheim-Pro-Regular";
  src: url("/fonts/GT-Walsheim-Pro-Regular.ttf");
}

@font-face {
  font-family: "GT-Walsheim-Pro-Regular-Oblique";
  src: url("/fonts/GT-Walsheim-Pro-Regular-Oblique.ttf");
}

@font-face {
  font-family: "GT-America-Expanded-Black";
  src: url("/fonts/GT-America-Expanded-Black.ttf");
}

body {
  font: 14px "Roboto", Helvetica, Arial, sans-serif;
  color: #000;
  background: #FCEE42;
  margin-top: 4em;
}

h1, h2 {
  font-family: "GT-Walsheim-Pro-Bold";
  margin-bottom: 1em;
}

a, a:hover {
  color: #EF4621;
}

hr {
  border: 1px solid #000;
  margin: 4em;
}

img {
  width: 100%;
}